
<!-- <div class="tdw-margin-12 mdc-color--pink-a700 tdw-card-normal" style="flex-direction: row; display: flex; align-items: center; justify-content: center;  border-radius: 100px; height:64px; width:64px; vertical-align: middle; text-align: center;">
  <mdc-icon class="mdc-color-text--white tdw-font-12">alarm</mdc-icon>
</div> -->

<div>
  <div class="parent ">

      <div class="container tdw-card-up">


          <div class="slide ">

              <nav>
                 
                  <ul>
                      <li>
                          <mdc-icon class="mdc-color-text--grey">alarm</mdc-icon>
                      </li>
                      <li class="border-bottom padding-bottom">
                        <mdc-icon >query_builder</mdc-icon>
                      </li>
                      <li>
                        <mdc-icon class="mdc-color-text--grey">timer</mdc-icon>
                      </li>
                      <li>
                          <mdc-icon class="mdc-color-text--grey">brightness_3</mdc-icon>
                      </li>
                      <li>
                          <mdc-icon class="mdc-color-text--grey">more_vert</mdc-icon>
                      </li>
                  </ul>
              </nav>
          </div>
          <div class="content">
              <div class="time tdw-font-comfortaa">
               <div class="tdw-padding-36">
                          <p class="tdw-font-48 tdw-font-comfortaa content-margin">2:33
                              <sup >PM</sup>
                          </p>
                          <p class="tdw-font-10 tdw-margin-left-12">Thu 17Dec, 2017</p>
               </div>


              </div>

              <div class="country-time tdw-hover-card">
                  <div>
                      
                          <div class="tdw-margin-left-12">
                              <p class="tdw-font-18">3:33
                                  <sup class="tdw-font-8">PM</sup>
                                  <sub class="tdw-font-12 mdc-color-text--grey">&nbsp;&nbsp;Today</sub>
                              </p>
                          </div>
                          <div>
                              <p class="tdw-font-12 tdw-margin-left-12">Belgrade</p>
                          </div>
                     
                  </div>
                  <div>

                          <div class="tdw-margin-left-12">
                              <p class="tdw-font-18">4:33
                                  <sup class="tdw-font-8">PM</sup>
                                  <sub class="tdw-font-12 mdc-color-text--grey">&nbsp;&nbsp;Today</sub>
                              </p>
                          </div>
                          <div>
                              <p class="tdw-font-12 tdw-margin-left-12">Tokyo</p>
                          </div>
                    
                  </div>
              </div>

              <div class="earth-icon content-items ">
                  <div class="circle">
                      <mdc-icon>alarm</mdc-icon>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>