*{
    // padding: 0;
    // margin: 0;
    color: rgb(240, 240, 240);
}
.weather-container {
    height: 110px;
    // background-color: rgb(88, 91, 92);
    background: deepskyblue;
    margin: 20px 20px;
    position: relative;
    display: inline-block;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: -1;
}

h1{
    margin: 0px;
}

.weather-content{
    position: relative;
    z-index: 2;
}
.weather-content-inner {
    min-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
}
.title-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.title-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;        
}

.weather-bg{
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}



  /*-------------------------------CLEAR_SKY----------------------------------------- */





  .clear-sky {
      z-index: 1;
    width: inherit;
    height: inherit;
    position: relative;
    overflow: hidden;
   
    // background: #0099ff;
   
    // background: linear-gradient(top, #0099ff, #00ccff);
 }

 /* Image Properties */
 


 .cloud {
    position: absolute;
    animation: cloudDrift 3s linear infinite;
 }
 
 .lrg {
    /*width 130px*/
    top: 40px;
    left: -120px;
    animation-duration: 28s;
 }
 .sml {
    /*width 70px*/
    top: 10px;
    left: -160px;
  
    animation-duration: 16s;
 }
 .med {
    /*width 100px*/
    top: 80px;
    left: -80px;
   
    animation-duration: 22s;
 }
 

 
 
 /* Clouds drifting */
 
 @keyframes cloudDrift {
    from { transform: translateX(0px); }
    to { transform: translateX(540px); }
 }



        /*-------------------------------STILL_CLOUD----------------------------------------- */

.icon {
    position: relative;
    display: inline-block;
    width: inherit;
    height: inherit;
    font-size: 1em; /* control icon size here */
}
  
  .still-cloud {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -1.84375em;
  
  }
  .cloud:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    
  }
  
  
  .medium {
    top: 49px;
    left: 154px;
   }

  
  .sun-shower {
    position: absolute;
    top: 35%;
    left: 58%;
    width: 1.6em;
    height: 1.6em;
      margin: -1.25em;
      background: darkorange;
      border-radius: 50%;
      box-shadow:  0px 0px 20px 5px #f7f1f1;
    //   box-shadow: 0 0 0 0.375em #fff;
      animation: spin 12s infinite linear;
  }
  
  .cloud + .sun-shower {
    margin: -2em 1em;
  }
  
  
  .rain {
    position: absolute;
    width: 75px;
    height: 59px;
    top: 40px;
    left: 102px;
  }
  
  .drop {
  position: relative;
  float: left;
  width: 2px;
  margin: 6px;
  left: 17px;
  background: #789;
  // box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.75);
  -webkit-animation: rain 0.8s infinite ease-out;
  animation: rain 0.5s infinite ease-out;
  }
  
  .drop:nth-child(1) {
  height: 15px;
  top: 5px;
  animation-delay: -1.0s;
  }
  
  .drop:nth-child(2) {
  height: 20px;
  animation-delay: -1.4s;
  }
  
  .drop:nth-child(3) {
  height: 15px;
  top: 5px;
  animation-delay: -1.6s;
  }
  
  .drop:nth-child(4) {
  height: 10px;
  top: 10px;
  animation-delay: -1.2s;
  }
  
  .drop:nth-child(5) {
  height: 5px;
  top: 15px;
  animation-delay: -1.6s;
  }
  
  @keyframes rain {
  0% {
      opacity: 1;
      transform: translate(0, 0);
  }
  
  100% {
      
      opacity: 0.2;
      transform: translate(0, 36px);
  }
  
  }
  
  .surface {
    position: absolute;
    width: 26px;
    height: 2px;
    top: 99px;
    left: 102px;
  }
  
  .hit {
      position: absolute;
  
  height: 1px;
  margin: 0px;
  
  border: 1px solid #456;
  border-radius: 50%;
  
  width: 2px;
  margin: 2px;
  left: 22px;
   -webkit-animation: hit 0.8s infinite ease; 
   animation: hit 0.8s infinite ease; 
  }
  
  .hit:nth-child(1) {
  left: 21px;
  animation-delay: -0.3s;
  }
  
  .hit:nth-child(2) {
  left: 35px;
  animation-delay: -0.7s;
  }
  
  .hit:nth-child(3) {
  left: 49px;
  animation-delay: -0.9s;
  }
  
  .hit:nth-child(4) {
  left: 63px;
  animation-delay: -0.5s;
  }
  
  .hit:nth-child(5) {
  left: 77px;
  animation-delay: -0.9s;
  }
  
  @keyframes hit {
  0% {
      opacity: 0.75;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(2.5);
  }
  }
  
  
  /* Animations */ 
  
  
  @keyframes still-cloud {
    0% { opacity: 0; }
    50% { opacity: 0.3; }
    100% {
      opacity: 0;
      transform: scale(0.5) translate(-200%, -3em);
    }
  }
  
  /*------------------------- BLAZING-CLOUD------------------------------------*/

.lightning{
    position: absolute;
    z-index: 2;
    z-index: 2;
    top: 70%;
    left: 142%;
    width: 23.75em;
    height: 5.75em;
//   margin: 0.375em 0 0 -2em;
 
}



.bolt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em 0 0 -0.125em;
  color: #fff;
  opacity: 0.3;
  animation: lightning 2s linear infinite;
}
.bolt:nth-child(2) {
  width: 0.5em;
  height: 0.25em;
  margin: -1.75em 0 0 -1.875em;
  transform: translate(2.5em, 2.25em);
  opacity: 0.2;
  animation: lightning 1.5s linear infinite;
}
.bolt:before,
.bolt:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg);
}
.bolt:after {
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  transform: skewX(-10deg);
}
.bolt:nth-child(2):before {
  margin: -0.75em 0 0 -0.5em;
  border-top: 0.625em solid transparent;
  border-right: 0.375em solid;
  border-bottom: 0.375em solid;
  border-left: 0.25em solid transparent;
}
.bolt:nth-child(2):after {
  margin: -0.125em 0 0 -0.125em;
  border-top: 0.375em solid;
  border-right: 0.25em solid transparent;
  border-bottom: 0.625em solid transparent;
  border-left: 0.375em solid;
}



/* Animations */ 



@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}

/*--------------------THUNDER-STORM--------------------------*/


.flashit{

  animation: flash ease-out 3s infinite;
  animation-delay: 2s;
  }
  
  
  @keyframes flash {
    from { opacity: 0; } 
      92% { opacity: 0; }
    93% { opacity: 0.6; }
      94% { opacity: 0.2; }
      96% { opacity: 1; } 
    to { opacity: 0; }
  }

/*--------------------ICON-SNOW----------------------------*/

.icon-snow {
  margin: auto;
  bottom: 50px;
  right: 0;
  left: 100px;
  position: absolute;
  width: 48px;
  padding: 10px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.snow {
  margin: auto;
  position:absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
}


.icon-snow .drop1 {
  right: 100px;
  animation:drop-b 5s infinite linear;
  -webkit-animation:drop-b 5s infinite linear;
}
.icon-snow .drop2 {
  left: 0;
  animation:drop-b 5.2s infinite linear;
  -webkit-animation:drop-b 5.2s infinite linear;
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
}
.icon-snow .drop3 {
  left: 40px;
  animation:drop-b 3.2s infinite linear;
  -webkit-animation:drop-b 3.2s infinite linear;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.icon-snow .drop4 {
  right: 108px;
  animation:drop-b 7s infinite linear;
  -webkit-animation:drop-b 7s infinite linear;
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.icon-snow .drop5 {
  left: 33px;
  animation:drop-b 5.8s infinite linear;
  -webkit-animation:drop-b 5.8s infinite linear;
  animation-delay: 3.2s;
  -webkit-animation-delay: 3.2s;
}
.icon-snow .drop6 {
  right: 0; left: 10px;
  animation:drop-b 4s infinite linear;
  -webkit-animation:drop-b 4s infinite linear;
  animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
}

@keyframes drop-b
{
0%{bottom:0; opacity:1; margin-left: 0; margin-right: 10px;}
  20% {margin-left: 10px; margin-right: 0;}
  40% {margin-left: 0; margin-right: 10px;}
  60% {margin-left: 10px; margin-right: 0;}
  80% {margin-left: 0; margin-right: 10px;}
100% {bottom:-100px; opacity:0; margin-left: 10px; margin-right: 0;}
}

/*----------------Wind-mill--------------------*/



.rotate img {
  position: absolute;
  display: block;
  top: 71%;
  left: 57%;
  margin: -75px 0 0 -75px;
  transform-origin: 50% 50%;
  //transition: 60s;
  z-index: 800;
   animation: rotate 1s infinite linear;
}



@keyframes rotate {
  from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
		}
}

.rotor {
  position: absolute;
  display: block;
  top: 49.5%;
  left: 51%;
  width: 25px;
  height: 25px;
  margin: -13.5px 0 0 -14px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset -4px 0px 0px 0px #e6c9c9;
  z-index: 4;
}

.pole {
  position: absolute;
    display: block;
    top: 50%;
    left: 51%;
    width: 5px;
    height: 54px;
    margin-left: -4.5px;
    background-color: #c5b9b9;
    z-index: 3;
}