
// .container{
    
//     width: 300px;
//     height: auto;
//     background: #2a225a;
//     background: linear-gradient(to left,  #2a225a,#2e273f); 
//     color: white;

//     margin: 30px 140px;
//     padding: 0px;
    
// }
// .slide{
//     width: 100%;
//     max-width: 960px;
//     margin: 0 auto;
//   }
  
//   nav{
//     background: #232437;       
//   } 
  
//   nav ul{
//     list-style-type: none;
//     padding:10px;
//     display: flex;
//     flex-direction: row;
//     align-items: center; 
//     justify-content: center; 
//     vertical-align: middle;
//      text-align: center;
   
//   }
  
//   nav li{
//     flex: 1 1 0;    
  
//     width: 30px;
//     height: 30px;
    
//   }
  
//   .border-bottom{

//     border-bottom: 4px solid #ed4264;
//      margin-bottom:-10px;
//   }
//   .padding-bottom{
//     padding-bottom: 7px;
//   }

//   .content{
     
//     flex-direction: column;
//     display: flex;
//     flex: 1 1 0;
//      justify-content: center;
   
//   }
//   sup {
//     vertical-align: super;
//     vertical-align: top;
//      font-size: 0.3em;
// }
//   .content-items{
//     flex-basis: 180px;
//     flex-direction: row; 
//     display: flex; 
//     align-items: center; 
//     justify-content: center;
//     vertical-align: middle;
//     text-align: center;
    
//   }
//   .content-margin{
//     margin: 0;
//   }
//   .time{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .country-time{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     height: 70px;
//     grid-column-gap: 8px;
//     margin: 0 4px;  
//   }
  
// .country-time div:nth-child(even){
//     background: #1b1c30;  
    
    
// }
  
// .country-time div:nth-child(odd){
//     background: #1b1c30;  
   
    
// } 
// ul li{
//     list-style-type: none;
// }


// .country-time div{
//    padding: 0px;
// }

// .earth-icon {
//     display: flex;
//     justify-content: center;
//     align-items: center;

// }
// .circle{
//     background:#ec0f3b;
//     display: flex;
//     width: 60px;
//     height: 60px;
//     border-radius: 100px;
//     flex-direction: column;
//     justify-content: center;
//     vertical-align: middle;
//     background-repeat: no-repeat;
//     // flex-direction: row; 
//      align-items: center; 
//     //  justify-content: center; 
//     // vertical-align: middle;
    
   
//     animation: animate 3s linear infinite;
// }

// @keyframes animate{
    
//     0%{
//         box-shadow: 0 0 0 0 rgba(245, 3, 76,0.7),0 0 0 0 rgba(245, 3, 76,.7);
//     }
//     40%{
//         box-shadow: 0 0 0 0  rgba(245, 3, 76,.7),0 0 0 0 rgba(245, 3, 76,.7);
//     }
//     80%{
//         box-shadow: 0 0 0 0  rgba(245, 3, 76,.7),0 0 0 30px rgba(245, 3, 76,0);
//     }
//     100%{
//         box-shadow: 0 0 0 0  rgba(245, 3, 76,.7),0 0 0 30px rgba(245, 3, 76,0);
//     }
// }
 

.container2{
    
    width: 300px;
    height: 530px;
    background: #2a225a;
    background: linear-gradient(to left,  #2a225a,#2e273f); 
    color: white;

    margin: 30px 140px;
    padding: 0px;
    
}
.slide2{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  
  nav{
    background: #232437;       
  } 
  
  nav ul{
    list-style-type: none;
    padding:10px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    vertical-align: middle;
     text-align: center;
   
  }
  .days ul{
      list-style-type: none;
      
  }
  
  nav li{
    flex: 1 1 0;    
  
    width: 30px;
    height: 30px;
    
  }
  
//   .border-bottom{

//     border-bottom: 4px solid #ed4264;
//      margin-bottom:-10px;
//   }
  
.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px sold red;
}
.flex{
    display: flex;
    flex-direction: row;
    width:292px;;
    /*flex-wrap: nowrap;*/
  height: 61px;
  margin: 2px 3px;
  background: #232437;  
  border: 1px solid blue;
}
.flex-items{
    width: 50%;
    height: inherit;
    background-color:lightpink;
    /*margin: 3px;*/
    color: white;
    text-align: right;
    vertical-align: middle;
    align-items: center; 
    justify-content: center;

}
.flex-items2{
    width: 50%;
    height: inherit;
    background-color:lightgrey;
    /*margin: 3px;*/
    align-items: center; 
    justify-content: center; 
    vertical-align: middle; 
    text-align: center;
}
  

ul li{
    list-style-type: none;
    flex-direction: row;
    color: grey;
}
h6{
    color: red;
}
p{
    text-align: left;
			vertical-align: middle;
			align-items: center; 
			justify-content: center;
}
span{
    // position: absolute;
   margin-right:auto;
   margin-left: 79px;   
}
.switch{
    position: relative;
    top: -3px;
    margin-right: 5px;  
}

.earth-icon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.circle2{
    background:#ec0f3b;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    // flex-direction: row; 
     align-items: center; 
    //  justify-content: center; 
    // vertical-align: middle;
    margin-top: 50px;
   
    animation: animate 3s linear infinite;
}

@keyframes animate{
    
    0%{
        box-shadow: 0 0 0 0 rgba(245, 3, 76,0.7),0 0 0 0 rgba(245, 3, 76,.7);
    }
    40%{
        box-shadow: 0 0 0 0  rgba(245, 3, 76,.7),0 0 0 0 rgba(245, 3, 76,.7);
    }
    80%{
        box-shadow: 0 0 0 0  rgba(245, 3, 76,.7),0 0 0 30px rgba(245, 3, 76,0);
    }
    100%{
        box-shadow: 0 0 0 0  rgba(245, 3, 76,.7),0 0 0 30px rgba(245, 3, 76,0);
    }
}

