<!-- <div class="tdw-margin-12 mdc-color--pink-a700 tdw-card-normal" style="flex-direction: row; display: flex; align-items: center; justify-content: center;  border-radius: 100px; height:64px; width:64px; vertical-align: middle; text-align: center;">
  <mdc-icon class="mdc-color-text--white tdw-font-12">alarm</mdc-icon>
</div> -->

<div class="weather-container">
    <div class="weather-bg">
       <div class="sun-circle3"></div>
        <div class="sun-circle2"></div>
        <div class="sun-circle1"></div> 

       
    </div>
    <div class="weather-content tdw-padding-20 ">
        <div class="weather-content-inner">
            <div class="title-top">
                <h1 class="weather-status tdw-font-open-sans tdw-font-normal tdw-font-18">
                    <mdc-icon class="sun tdw-font-14">wb_sunny</mdc-icon>Sunny</h1>
                <h1 class="weather-time tdw-font-18">09:35</h1>
            </div>
            <div class="title-bottom">
                <h1 class="weather-temp tdw-font-comfortaa tdw-font-32 tdw-font-normal">72
                    <span class="weather-temp-type  tdw-font-thin tdw-font-30">&#8457;</span>
                </h1>
                <h1 class="weather-location tdw-font-12">
                    <mdc-icon class="material-icons tdw-font-10">place</mdc-icon>Rajgir</h1>
            </div>
        </div>
    </div>

</div>


<div class="weather-container">
    <div class="weather-bg">
       

               <div class="clear-sky">
            
            <img class="cloud sml" src="assets/img/cloud_sml.png" width="50" height="30"/>
            <img class="cloud med" src="assets/img/cloud_med.png" width="60" height="40"/>
            <img class="cloud lrg" src="assets/img/cloud_lrg.png" width="70" height="50"/>
               </div>
      
    </div>
    <div class="weather-content tdw-padding-20 ">
        <div class="weather-content-inner">
            <div class="title-top">
                <h1 class="weather-status tdw-font-open-sans tdw-font-normal tdw-font-18">
                    <mdc-icon class="sun tdw-font-14">wb_sunny</mdc-icon>Cloud</h1>
                <h1 class="weather-time tdw-font-18">09:35</h1>
            </div>
            <div class="title-bottom">
                <h1 class="weather-temp tdw-font-comfortaa tdw-font-32 tdw-font-normal">72
                    <span class="weather-temp-type  tdw-font-thin tdw-font-30">&#8457;</span>
                </h1>
                <h1 class="weather-location tdw-font-12">
                    <mdc-icon class="material-icons tdw-font-10">place</mdc-icon>Rajgir</h1>
            </div>
        </div>
    </div>

</div>



<div class="weather-container">
    <div class="weather-bg">
       
        <div class="icon">
            <div class="still-cloud medium">
                 <img  src="assets/img/cloud_med.png" width="70" height="36"/>
            </div>
            <div class="sun-shower">
              <div class="rays"></div>
            </div>
             <div class=rain>
                          <div class=drop></div>
                          <div class=drop></div>
                          <div class=drop></div>
                          <div class=drop></div>
                          <div class=drop></div>
                      </div>
                      <div class=surface>
                          <div class=hit></div>
                          <div class=hit></div>
                          <div class=hit></div>
                          <div class=hit></div>
                          <div class=hit></div>
                      </div>
          </div>
             
    </div>
    <div class="weather-content tdw-padding-20 ">
        <div class="weather-content-inner">
            <div class="title-top">
                <h1 class="weather-status tdw-font-open-sans tdw-font-normal tdw-font-18">
                    <mdc-icon class="sun tdw-font-14">wb_sunny</mdc-icon>Sun-Shower</h1>
                <h1 class="weather-time tdw-font-18">09:35</h1>
            </div>
            <div class="title-bottom">
                <h1 class="weather-temp tdw-font-comfortaa tdw-font-32 tdw-font-normal">72
                    <span class="weather-temp-type  tdw-font-thin tdw-font-30">&#8457;</span>
                </h1>
                <h1 class="weather-location tdw-font-12">
                    <mdc-icon class="material-icons tdw-font-10">place</mdc-icon>Rajgir</h1>
            </div>
        </div>
    </div>

</div>





<div class="weather-container mdc-color--grey-500" >
    <div class="weather-bg">
       
        <div class="blazing-cloud">
            <div class="still-cloud medium">
                <img  src="assets/img/cloud_med.png" width="100" height="52"/>
           </div>
           
<div class="icon thunder-storm">
    <div class="cloud"></div>
    
    <div class="lightning">
      <div class="bolt"></div>
      <div class="bolt"></div>
    </div>
  </div>
          </div>
          </div>

    <div class="weather-content tdw-padding-20 ">
        <div class="weather-content-inner">
            <div class="title-top">
                <h1 class="weather-status tdw-font-open-sans tdw-font-normal tdw-font-18">
                    <mdc-icon class="sun tdw-font-14">wb_sunny</mdc-icon>Blaze</h1>
                <h1 class="weather-time tdw-font-18">09:35</h1>
            </div>
            <div class="title-bottom">
                <h1 class="weather-temp tdw-font-comfortaa tdw-font-32 tdw-font-normal">72
                    <span class="weather-temp-type  tdw-font-thin tdw-font-30">&#8457;</span>
                </h1>
                <h1 class="weather-location tdw-font-12">
                    <mdc-icon class="material-icons tdw-font-10">place</mdc-icon>Rajgir</h1>
            </div>
        </div>
    </div>

</div>



<div class="weather-container mdc-color--grey-800" >
    <div class="weather-bg">
       
            
        <div class="clear-sky flashit">
                <img class="cloud sml" src="assets/img/cloud_sml.png" width="40" height="20"/>
                <img class="cloud sml" src="assets/img/cloud_sml.png" width="50" height="30"/>
                <img class="cloud med" src="assets/img/cloud_med.png" width="60" height="40"/>
                <img class="cloud lrg" src="assets/img/cloud_lrg.png" width="70" height="50"/>
               </div>
<div>  <img class="light-cloud" src="assets/img/cloud_lrg.png" width="130" height="66"/></div>
             
       
        
</div>

    <div class="weather-content tdw-padding-20 ">
        <div class="weather-content-inner">
            <div class="title-top">
                <h1 class="weather-status tdw-font-open-sans tdw-font-normal tdw-font-18">
                    <mdc-icon class="sun tdw-font-14">wb_sunny</mdc-icon>Thunder</h1>
                <h1 class="weather-time tdw-font-18">09:35</h1>
            </div>
            <div class="title-bottom">
                <h1 class="weather-temp tdw-font-comfortaa tdw-font-32 tdw-font-normal">72
                    <span class="weather-temp-type  tdw-font-thin tdw-font-30">&#8457;</span>
                </h1>
                <h1 class="weather-location tdw-font-12">
                    <mdc-icon class="material-icons tdw-font-10">place</mdc-icon>Rajgir</h1>
            </div>
        </div>
    </div>

</div>


<div class="weather-container  mdc-color--red-600" >
        <div class="weather-bg">
                <div class="blazing-cloud">
                        <div class="light-cloud medium" style="filter:brightness(76%)">
                            <img  src="assets/img/cloud_med.png" width="110" height="56"/>
                       </div>
                       <div class="icon-snow">
                            <div class="snow drop1"></div>
                            <div class="snow drop2"></div>
                            <div class="snow drop3"></div>
                            <div class="snow drop4"></div>
                            <div class="snow drop5"></div>
                            <div class="snow drop6"></div>
                          </div>         
               
                       </div>
                
            
    </div>
    
        <div class="weather-content tdw-padding-20 ">
            <div class="weather-content-inner">
                <div class="title-top">
                    <h1 class="weather-status tdw-font-open-sans tdw-font-normal tdw-font-18">
                        <mdc-icon class="sun tdw-font-14">wb_sunny</mdc-icon>Fog</h1>
                    <h1 class="weather-time tdw-font-18">09:35</h1>
                </div>
                <div class="title-bottom">
                    <h1 class="weather-temp tdw-font-comfortaa tdw-font-32 tdw-font-normal">72
                        <span class="weather-temp-type  tdw-font-thin tdw-font-30">&#8457;</span>
                    </h1>
                    <h1 class="weather-location tdw-font-12">
                        <mdc-icon class="material-icons tdw-font-10">place</mdc-icon>Rajgir</h1>
                </div>
            </div>
        </div>
    
    </div>
    <div class="weather-container mdc-color--blue-300" >
            <div class="weather-bg rotate">
                
 
   
                            <div class="windmill">
                              <span class="mills">
                                    <img  src="assets/img/wind-mill-01.png" width="80" height="80"/>
                           
                              </span>
                              <span class="rotor"></span>
                              <span class="pole"></span>
                              <span class="shadow"></span>
                            </div>
                        
                
        </div>
        
            <div class="weather-content tdw-padding-20 ">
                <div class="weather-content-inner">
                    <div class="title-top">
                        <h1 class="weather-status tdw-font-open-sans tdw-font-normal tdw-font-18">
                            <mdc-icon class="sun tdw-font-14">wb_sunny</mdc-icon>Wind</h1>
                        <h1 class="weather-time tdw-font-18">09:35</h1>
                    </div>
                    <div class="title-bottom">
                        <h1 class="weather-temp tdw-font-comfortaa tdw-font-32 tdw-font-normal">72
                            <span class="weather-temp-type  tdw-font-thin tdw-font-30">&#8457;</span>
                        </h1>
                        <h1 class="weather-location tdw-font-12">
                            <mdc-icon class="material-icons tdw-font-10">place</mdc-icon>Rajgir</h1>
                    </div>
                </div>
            </div>
        
        </div>
        