

.container {
    position: relative;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 100%;
  }
.demo-content {
    margin-left: 240px;
    margin-right: 0px;
    overflow-x: auto;
    width: -240px;
    right: 0;
    height: 100%;
    display: block;
    left: 0;
  
    @media (max-width: 599px) {
      width: 100%;
      margin-left: 0px;
    }
  }