

.left-box{
    background-color: #DE5D83;
    width: 180px;
    border-radius: 5px 0 0 5px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
    padding: 30px;
}
.grad {
    background: #f857a6;  /* fallback for old browsers */
   
    background: linear-gradient(to left, #ff5858, #DE5D83); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.right-box{
    padding: 30px;
    //height: 360px;
    //width: 300px;
    background-color: #FEFEFA;
    //display: flex;
    //flex-direction: column;
    border-radius: 0px 5px 5px 0;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
  
   
}
.title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // align-items: stretch;
    vertical-align: middle;
/*	flex-grow: 2;*/
    /*width: 100%;
    height: 100px;*/
    flex-grow: 1;
    padding: 15px;
   

}
.title-item{
    
   
}

.title-border-bottom{
   border-bottom: solid 1px rgba(0,0,0,.1);
  
   
}
.weather{
  
    display: flex;
    flex-direction: row;
  /*	flex-grow: 1;*/
    
}
.weather-child{
   
    width: 100%;
    height: 100px;
    padding: 10px;
    
    
    
}
.weather-child span{
    font-family: sans-serif;
    font-size: 15px;
    color: rgba(172, 179, 172, 0.877);
   
   
}
.weather-time{
    
    display: flex;
    flex-direction: row;
    /*flex-grow: 1;*/
    /*width: 100%;
    height: 100px;*/
    padding: 2px;
    
   
}
.weather-time-items{
    padding: 15px;
    border-bottom: solid 1px rgba(0,0,0,.1);
 
}
.border-bottom{
     border-bottom: 3px solid coral;
    // border-bottom-color: coral;
   
    
}
.blank{
   
}
// .weather-details{
//     border: 1px solid red;
//     flex-grow:3;
    
// }
.Table {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
     /* flex-grow: 1;*/
      font-size: 1rem;
      margin: 1rem;
      line-height: 2;
     white-space: nowrap;
    }


.Table-row
{
width: 100%;
text-align: center;
white-space: nowrap;
display: flex;
flex-flow: row nowrap;
}
.Table-row-item
{     
    font-size: 12px;
display: flex;
flex-flow: row nowrap;
justify-content: flex-end;
flex:1 1 0;
padding: 1em;
word-break: break-word;
white-space: nowrap;

}
.Table-row span{
    color:#DE5D83; 
    font-weight: 400;
}
