<div *ngIf="_vmWeatherChip" class="weather-container">
    <div class="weather-bg">
        <div class="circle3"></div>
        <div class="circle2"></div>
        <div class="circle1"></div>
    </div>
    <div class="tdw-padding-12 weather-content">
        <div class="weather-content-inner">
            <div class="title-top">
                <h1 class="weather-status tdw-font-open-sans tdw-font-normal tdw-font-18">
                    <mdc-icon class="sun tdw-font-14">wb_sunny</mdc-icon>{{_vmWeatherChip.main}}</h1>
                <h1 class="weather-time tdw-font-18">{{(_vmWeatherChip.dt | amFromUnix) | amDateFormat:'hh:mmA'}}</h1>
            </div>
            <div class="title-bottom">
                <h1 class="weather-temp tdw-font-comfortaa tdw-font-32 tdw-font-normal">{{_vmWeatherChip.temp}}
                    <span class="weather-temp-type  tdw-font-thin tdw-font-30">&#8457;</span>
                </h1>
                <h1 class="weather-location tdw-font-12">
                    <mdc-icon class="material-icons tdw-font-10">place</mdc-icon> {{_vmWeatherChip.city}}, {{_vmWeatherChip.country}}</h1>
            </div>
        </div>
    </div>



    <!-- <div class="title">
                        <h1 class="Condition tdw-font-open-sans tdw-font-thin tdw-font-20">
                              <mdc-icon class="sun tdw-font-12">wb_sunny</mdc-icon> Sunny</h1>
                            <div class="title-right"><span class="Time  tdw-font-16">09:35</span></div>
                        
                    </div>
                    <div>
                    <h1 class="Temp tdw-font-comfortaa tdw-font-32 tdw-font-normal">72
                        <span class="F tdw-font-thin tdw-font-30">&#8457;</span>
                    </h1>
                    <div class="bottom-right">
                    <h1 class="Location tdw-font-12 tdw-font-lightest">
                        <i class="material-icons locationIcon tdw-font-10">place</i> Raleigh, NC</h1>
                    </div> -->

</div>