<div *ngIf="_vmWeatherChip" class="weather-container">
    <div class="weather-bg">
        <!-- <div class="sun-circle3"></div>
        <div class="sun-circle2"></div>
        <div class="sun-circle1"></div> 
               <div id="scene">
            <img class="cloud sml" src="assets/img/cloud_sml.png" width="70" height="36"/>
            <img class="cloud med" src="assets/img/cloud_med.png" width="100" height="52"/>
            <img class="cloud lrg" src="assets/img/cloud_lrg.png" width="130" height="67"/>
              </div>
        -->

        <!-- <div class=wrapper>
            <div class=cloud>
                <img class="cloud sml" src="assets/img/cloud_sml.png" width="70" height="36"/>
            </div>
            <div class=rain>
                <div class=drop></div>
                <div class=drop></div>
                <div class=drop></div>
                <div class=drop></div>
                <div class=drop></div>
            </div>
            <div class=surface>
                <div class=hit></div>
                <div class=hit></div>
                <div class=hit></div>
                <div class=hit></div>
                <div class=hit></div>
            </div>
        </div> -->

        <div class="icon">
            <div class="cloud med">
                 <img  src="assets/img/cloud_med.png" width="70" height="36"/>
            </div>
            <div class="sun-shower">
              <div class="rays"></div>
            </div>
             <div class=rain>
                          <div class=drop></div>
                          <div class=drop></div>
                          <div class=drop></div>
                          <div class=drop></div>
                          <div class=drop></div>
                      </div>
                      <div class=surface>
                          <div class=hit></div>
                          <div class=hit></div>
                          <div class=hit></div>
                          <div class=hit></div>
                          <div class=hit></div>
                      </div>
          </div>
    </div>
    <div class="weather-content tdw-padding-20 ">
        <div class="weather-content-inner">
            <div class="title-top">
                <h1 class="weather-status tdw-font-open-sans tdw-font-normal tdw-font-18">
                    <mdc-icon class="sun tdw-font-14">wb_sunny</mdc-icon>{{_vmWeatherChip.main}}</h1>
                <h1 class="weather-time tdw-font-18">{{(_vmWeatherChip.dt | amFromUnix) | amDateFormat:'hh:mmA'}}</h1>
            </div>
            <div class="title-bottom">
                <h1 class="weather-temp tdw-font-comfortaa tdw-font-32 tdw-font-normal">{{_vmWeatherChip.temp}}
                    <span class="weather-temp-type  tdw-font-thin tdw-font-30">&#8457;</span>
                </h1>
                <h1 class="weather-location tdw-font-12">
                    <mdc-icon class="material-icons tdw-font-10">place</mdc-icon> {{_vmWeatherChip.city}}, {{_vmWeatherChip.country}}</h1>
            </div>
        </div>
    </div>

</div>