<div>

    <div class="container">
        <div class="parent">

            <h1 class="Condition childDiv tdw-font-open-sans tdw-font-normal tdw-font-20">
                <mdc-icon class="sun tdw-font-14">wb_sunny</mdc-icon> Sunny</h1>
            <h1 class="Time childDiv tdw-font-18">09:35</h1>
            <h1 class="Temp childDiv tdw-font-comfortaa tdw-font-32 tdw-font-normal">72
                <span class="F childDiv tdw-font-thin tdw-font-30">&#8457;</span>
            </h1>
            <h1 class="Location childDiv tdw-font-12">
                <mdc-icon class="material-icons locationIcon tdw-font-10">place</mdc-icon> Raleigh, NC</h1>

            <div class="Circle1"></div>
            <div class="Circle2"></div>
            <div class="Circle3"></div>



            <!-- <div class="title">
                        <h1 class="Condition tdw-font-open-sans tdw-font-thin tdw-font-20">
                              <mdc-icon class="sun tdw-font-12">wb_sunny</mdc-icon> Sunny</h1>
                            <div class="title-right"><span class="Time  tdw-font-16">09:35</span></div>
                        
                    </div>
                    <div>
                    <h1 class="Temp tdw-font-comfortaa tdw-font-32 tdw-font-normal">72
                        <span class="F tdw-font-thin tdw-font-30">&#8457;</span>
                    </h1>
                    <div class="bottom-right">
                    <h1 class="Location tdw-font-12 tdw-font-lightest">
                        <i class="material-icons locationIcon tdw-font-10">place</i> Raleigh, NC</h1>
                    </div> -->

        </div>

    </div>
</div>