*{
    // padding: 0;
    // margin: 0;
    color: #FFF;
}
.weather-container {
    height: 110px;
    // background-color: rgb(88, 91, 92);
    background: #91AFD2;
    margin: 20px 20px;
    position: relative;
    display: inline-block;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: 3px;
}

h1{
    margin: 0px;
}

.weather-content{
    position: relative;
    z-index: 1;
}
.weather-content-inner {
    min-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
}
.title-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.title-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;        
}

.weather-bg{
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

//   /* Container properties */
//   #scene {
//     width: 400px;
//     height: 300px;
//     position: relative;
//     overflow: hidden;
//     /* Solid fallback for old browsers */
//     background: #0099ff;
   
//     background: linear-gradient(top, #0099ff, #00ccff);
//  }

//  /* Image Properties */
 


//  .cloud {
//     position: absolute;
   
//  }
 
//  .lrg {
//     /*width 130px*/
//     top: 40px;
//     left: -140px;
   
//  }
//  .sml {
//     /*width 70px*/
//     top: 10px;
//     left: 150px;
  
//     animation-duration: 20s;
//  }
//  .med {
//     /*width 100px*/
//     top: 80px;
//     left: -110px;
   
//     animation-duration: 30s;
//  }
 
//  /* Keyframe animations */
 

//  @keyframes bladeSpin {
//     from { transform: rotate(0deg); }
//     to { transform: rotate(1440deg); }
//  }
 
 
//  /* Clouds drifting */
 
//  @keyframes cloudDrift {
//     from { transform: translateX(0px); }
//     to { transform: translateX(540px); }
//  }




.icon {
    position: relative;
    display: inline-block;
    width: inherit;
    height: inherit;
    font-size: 1em; /* control icon size here */
}
  
  .cloud {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -1.84375em;
  
  }
  .cloud:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    
  }
  
  
  .med {
    top: 49px;
    left: 154px;
   }

  
  .sun-shower {
    position: absolute;
    top: 46%;
    left: 49%;
    width: 1.6em;
    height: 1.6em;
      margin: -1.25em;
      background: rgb(241, 159, 7);
      border-radius: 50%;
    //   box-shadow: 0 0 0 0.375em #fff;
      animation: spin 12s infinite linear;
  }
  
  .cloud + .sun-shower {
    margin: -2em 1em;
  }
  
  
  .rain {
    position: absolute;
    width: 75px;
    height: 59px;
    top: 40px;
    left: 102px;
  }
  
  .drop {
  position: relative;
  float: left;
  width: 2px;
  margin: 6px;
  left: 17px;
  background: #789;
  // box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.75);
  -webkit-animation: rain 0.8s infinite ease-out;
  animation: rain 0.5s infinite ease-out;
  }
  
  .drop:nth-child(1) {
  height: 15px;
  top: 5px;
  animation-delay: -1.0s;
  }
  
  .drop:nth-child(2) {
  height: 20px;
  animation-delay: -1.4s;
  }
  
  .drop:nth-child(3) {
  height: 15px;
  top: 5px;
  animation-delay: -1.6s;
  }
  
  .drop:nth-child(4) {
  height: 10px;
  top: 10px;
  animation-delay: -1.2s;
  }
  
  .drop:nth-child(5) {
  height: 5px;
  top: 15px;
  animation-delay: -1.6s;
  }
  
  @keyframes rain {
  0% {
      opacity: 1;
      transform: translate(0, 0);
  }
  
  100% {
      
      opacity: 0.2;
      transform: translate(0, 36px);
  }
  
  }
  
  .surface {
    position: absolute;
    width: 26px;
    height: 2px;
    top: 99px;
    left: 102px;
  }
  
  .hit {
      position: absolute;
  
  height: 1px;
  margin: 0px;
  
  border: 1px solid #456;
  border-radius: 50%;
  
  width: 2px;
  margin: 2px;
  left: 22px;
   -webkit-animation: hit 0.8s infinite ease; 
   animation: hit 0.8s infinite ease; 
  }
  
  .hit:nth-child(1) {
  left: 21px;
  animation-delay: -0.3s;
  }
  
  .hit:nth-child(2) {
  left: 35px;
  animation-delay: -0.7s;
  }
  
  .hit:nth-child(3) {
  left: 49px;
  animation-delay: -0.9s;
  }
  
  .hit:nth-child(4) {
  left: 63px;
  animation-delay: -0.5s;
  }
  
  .hit:nth-child(5) {
  left: 77px;
  animation-delay: -0.9s;
  }
  
  @keyframes hit {
  0% {
      opacity: 0.75;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(2.5);
  }
  }
  
  
  /* Animations */ 
  
  
  @keyframes cloud {
    0% { opacity: 0; }
    50% { opacity: 0.3; }
    100% {
      opacity: 0;
      transform: scale(0.5) translate(-200%, -3em);
    }
  }
  
  



