.parent{
    margin: 140px;
    
   
}
.box{
  display: flex;
  flex-direction: row;    
}
.left-box{
    background-color: #DE5D83;
    height: 330px;
    width: 160px;
    border-radius: 5px 0 0 5px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.grad {
    
    background: rgb(214, 21, 57); 
    background: linear-gradient(90deg, hsl(349, 67%, 60%), rgb(226, 48, 48));
}
.left-box-top{
    height: 500px;
    widows: 500px;
    
}
.left-box-bottom{
    height: 500px;
    widows: 500px;
    
}
.right-box{
    padding: 20px;
    height: 330px;
    width: 280px;
    background-color: #FEFEFA;
    display: flex;
    flex-direction: column;
    border-radius: 0px 5px 5px 0;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
  
   
}
.title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // align-items: stretch;
    vertical-align: middle;
/*	flex-grow: 2;*/
    /*width: 100%;
    height: 100px;*/
    flex-grow: 1;
    padding: 15px;
   

}
.title-item{
    
   
}

.title-border-bottom{
   border-bottom: solid 1px rgba(0,0,0,.1);
  
   
}
.weather{
  
    display: flex;
    flex-direction: row;
  /*	flex-grow: 1;*/
    
}
.weather-child{
   
    width: 100%;
    height: 100px;
    padding: 10px;
    
    
    
}
.weather-child span{
    font-family: sans-serif;
    font-size: 15px;
    color: rgba(172, 179, 172, 0.877);
   
   
}
.weather-time{
    
    display: flex;
    flex-direction: row;
    /*flex-grow: 1;*/
    /*width: 100%;
    height: 100px;*/
    padding: 2px;
    
   
}
.weather-time-items{
    padding: 2px;
    border-bottom: solid 1px rgba(0,0,0,.1);
 
}
.border-bottom{
     border-bottom-style: solid;
    border-bottom-color: coral;
   
    
}
.blank{
   
}
// .weather-details{
//     border: 1px solid red;
//     flex-grow:3;
    
// }
.Table {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
     /* flex-grow: 1;*/
      font-size: 1rem;
      margin: 1rem;
      line-height: 2;
     white-space: nowrap;
    }


.Table-row
{
width: 100%;
text-align: center;
white-space: nowrap;
display: flex;

flex-flow: row nowrap;
}
.Table-row-item
{     
    font-size: 10px;
display: flex;
flex-flow: row nowrap;
flex-grow: 1;
flex-basis: 0;
padding: 1em;
word-break: break-word;
white-space: nowrap;

}
.Table-row span{
    color:#DE5D83; 
}