<div>
  <div class="container tdw-card-up">

    <div class="slide ">

        <nav>

            <ul>
                <li class="border-bottom padding-bottom">
                    <mdc-icon class="mdc-color-text--white material-icons">alarm</mdc-icon>
                </li>
                <li  >
                    <mdc-icon class="mdc-color-text--grey material-icons">query_builder</mdc-icon>
                </li>
                <li  >
                    <mdc-icon class="mdc-color-text--grey material-icons">timer</mdc-icon>
                </li>
                <li  >
                    <mdc-icon class="mdc-color-text--grey flip-brihtness-icon material-icons"   >brightness_3</mdc-icon>
                </li>
                <li  >
                    <mdc-icon class="mdc-color-text--grey material-icons">more_vert</mdc-icon>
                </li>
            </ul>
        </nav>
    </div>
        <div class="content">
           
                <div  class="flex">
                    <div  class="flex-items tdw-hover-card">
                        <div  class="alarm-time">
                            <p  class="tdw-font-24">3:33
                                <sup  class="tdw-font-8">PM</sup>
                                <sub  class="tdw-font-12 mdc-color-text--white">&nbsp;&nbsp;Wake up!</sub>
                            </p>
                            <p  class="tdw-font-10 mdc-color-text--grey ">Mo&nbsp;Tu&nbsp;We&nbsp;Th&nbsp;Fr</p>
                        </div>
                        <h6>
                            <mdc-switch></mdc-switch>
                        </h6>
                    </div>
                   
    
                </div>
                <div class="flex">
                    <div  class="flex-items tdw-hover-card">
                        <div  class="alarm-time">
                            <p  class="tdw-font-24">5:03
                                <sup  class="tdw-font-8">PM</sup>
                               
                            </p>
                            <p  class="tdw-font-10 mdc-color-text--grey ">Tomorrow</p>
                        </div>
                        <h6  >
                            <mdc-switch></mdc-switch>
                        </h6>
                    </div>
                    
                </div>
                <div class="flex">
                    <div  class="flex-items mdc-color--grey-500 tdw-hover-card">
                        <div  class="alarm-time">
                            <p  class="tdw-font-24">7:00
                                <sup  class="tdw-font-8">PM</sup>
                                <sup  class="tdw-font-10 mdc-color-text--grey tdw-margin-left-12">I am unstoppable</sup>
                            </p>
                           
                            <p  class="tdw-font-10 mdc-color-text--grey ">Tomorrow</p>
                        </div>
                        <h6  >
                            <mdc-switch></mdc-switch>
                        </h6>
                    </div>
                    
    
    
            </div>
            <div class="flex">
                <div  class="flex-items mdc-color--grey-600 tdw-hover-card">
                    <div  class="alarm-time">
                        <p  class="tdw-font-24">8:33
                            <sup  class="tdw-font-8">PM</sup>
                            
                        </p>
                        <p  class="tdw-font-10 mdc-color-text--grey-300 ">Tomorrow</p>
                    </div>
                  <h6>
                        <mdc-switch></mdc-switch>
                    </h6>
                </div>
              </div>
              <div class="earth-icon ">
                <div  class="circle">
                    <mdc-icon  class="material-icons">alarm</mdc-icon>
                </div>
            </div>
             </div>
             

              </div>
            </div>
    
          
     

