<div>
    <div class="parent ">

        <div class="container tdw-card-up">


            <div class="slide ">

                <nav>
                    <!-- <ul>
                          <li><i class="material-icons">network_wifi</i></li>
                          <li><i class="material-icons">battery_full</i></li>
                          <li><i class="material-icons">bluetooth_connected</i></li>
                          
                      </ul> -->
                    <ul>
                        <li>
                            <mdc-icon class="mdc-color--grey-700">alarm</mdc-icon>
                        </li>
                        <li>
                            <i class="material-icons md-36 border-bottom">query_builder</i>
                        </li>
                        <li>
                            <i class="material-icons grey">timer</i>
                        </li>
                        <li>
                            <i class="material-icons grey">brightness_3</i>
                        </li>
                        <li>
                            <i class="material-icons grey">more_vert</i>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="content">
                <div class="time content-items tdw-font-comfortaa">
                    <ul>
                        <li>
                            <p class="tdw-font-48 tdw-font-comfortaa">2:33
                                <sup class="tdw-font-8">PM</sup>
                            </p>
                        </li>
                        <li>
                            <p class="tdw-font-10 tdw-margin-left-8">Thu 17Dec, 2017</p>
                        </li>
                    </ul>


                </div>

                <div class="country-time tdw-hover-card">
                    <div>
                        <ul>
                            <div>
                                <p class="tdw-font-18">3:33
                                    <sup class="tdw-font-8">PM</sup>
                                    <sub class="tdw-font-12 mdc-color-text--grey">&nbsp;&nbsp;Today</sub>
                                </p>
                            </div>
                            <div>
                                <p class="tdw-font-12">Belgrade</p>
                            </div>
                        </ul>
                    </div>
                    <div>

                        <ul>
                            <div>
                                <p class="tdw-font-18">4:33
                                    <sup class="tdw-font-8">PM</sup>
                                    <sub class="tdw-font-12 mdc-color-text--grey">&nbsp;&nbsp;Today</sub>
                                </p>
                            </div>
                            <div>
                                <p class="tdw-font-12">Tokyo</p>
                            </div>
                        </ul>
                    </div>
                </div>

                <div class="earth-icon content-items ">
                    <div class="circle">
                        <mdc-icon>alarm</mdc-icon>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>