// *{
//     font-family: verdana;
//     margin: 0;
//   }
// body{
//     background: #2a225a;
    
// }

.container{
    position: absolute;
    width: 300px;
    height: 500px;
    background: #2a225a;
    background: linear-gradient(to left,  #2a225a,#2e273f); 
    color: white;
    
    margin: 30px 140px;
    padding: 0px;
    
}
.slide{
    width: 100%;
    max-width: 960px;
    height: 54px;
    margin: 0 auto;
      }
      
      nav{
        background: #232437;       
      } 
      
      nav ul{
        list-style-type: none;
        padding:10px;
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: center; 
        vertical-align: middle;
         text-align: center;
       
      }
      
      nav li{
        flex: 1 1 0;    
      
        width: 30px;
        height: 30px;
        
      }
      
      .border-bottom{
        
        border-bottom: 4px solid #2ec0ea;
         margin-bottom:-10px;
      }
      .padding-bottom{
        padding-bottom: 7px;
      }
    
      .flex{
      
        display: flex;
      
        flex-direction: row;
        color: antiquewhite;
        align-items: center;
        width: 292px;
        height: 61px;
        margin: 2px 3px;
        background: #232437;
    }
    .flex-items{
     
        display: flex;
        width: 100%;
        height: inherit;
        background-color: #232437;
        color: white;
       
        align-items: center;
      
        justify-content: flex-end;
    }
    .alarm-time {
        position: absolute;
        left: 8px;
    }
    p {
        position: relative;
        margin-right: 24px;
        margin-top: 0;
        margin-bottom: 0;
    }
      sup {
        vertical-align: super;
        vertical-align: top;
         font-size: 0.3em;
    }

    
    ul li{
        list-style-type: none;
    }
    
    
  
.earth-icon {
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle{
background:#ec0f3b;
display: flex;
width: 60px;
height: 60px;
border-radius: 100px;
flex-direction: column;
justify-content: center;
vertical-align: middle;
background-repeat: no-repeat;
// flex-direction: row; 
 align-items: center; 
 justify-content: center; 
vertical-align: middle;
margin-top: 50px;

animation: animate 3s linear infinite;
}

@keyframes animate{

0%{
    box-shadow: 0 0 0 0 rgba(245, 3, 76,0.7),0 0 0 0 rgba(245, 3, 76,.7);
}
40%{
    box-shadow: 0 0 0 0  rgba(245, 3, 76,.7),0 0 0 0 rgba(245, 3, 76,.7);
}
80%{
    box-shadow: 0 0 0 0  rgba(245, 3, 76,.7),0 0 0 30px rgba(245, 3, 76,0);
}
100%{
    box-shadow: 0 0 0 0  rgba(245, 3, 76,.7),0 0 0 30px rgba(245, 3, 76,0);
}
}

