.sun-circle1{
    position: absolute;
    height: 100px;
    width: 100px;
    right: -39px;
    top: -36px;
    border-radius: 50%;
    background-color: #ff830a;
    box-shadow: 0px 0px 20px 3px #f7f1f1;

    animation: enlarge;
   
    animation-duration: 7s;
   
    animation-iteration-count: 0;
}
.sun-circle2{
    position: absolute;
    height: 175px;
    width: 175px;
    right: -62px;
    top: -64px;
    border-radius: 50%;
    background-color: #ffae00;
    box-shadow: 0px 0px 7px 8px #ffe9d6;
    animation: enlarge;
  
    animation-duration: 5s;
   
    animation-iteration-count: infinite;
}

// .sun-circle3{
//     position: absolute;
//     height: 244px;
//     width: 244px;
//     right: -52px;
//     top: -100px;
//     border-radius: 50%;
//     background-color: rgba(255, 248, 245, 0.7);
//     box-shadow: 16px 0px 3px -2px #f7f1f1;
   
//     animation: enlarge;
    
//     animation-duration: 4s;
    
//     animation-iteration-count: 1;
// }

@keyframes enlarge{
    50%{
        transform: scale(1.2);
    }
    
}

