.tdw-font-open-sans{
    font-family: $font-open-sans;
}
.tdw-font-comfortaa{
    font-family: $font-comfortaa;
}
.tdw-font-thin{
    font-weight: $font-thin;
}
.tdw-font-lightest{
    font-weight: $font-lightest;
}
.tdw-font-light{
    font-weight: $font-light;
}
.tdw-font-normal{
    font-weight: $font-normal;
}
.tdw-font-bold{
    font-weight: $font-bold;
}

.tdw-font-bolder{
    font-weight: $font-bolder;
}
.tdw-font-48{
    font-size: $font-48;
}
.tdw-font-38{
    font-size: $font-38;
}
.tdw-font-36{
    font-size: $font-36;
}
.tdw-font-34{
    font-size: $font-34;
}
.tdw-font-32{
    font-size: $font-32;
}

.tdw-font-24{
    font-size: $font-24;
 }

.tdw-font-20{
    font-size: $font-20;
 }

.tdw-font-18{
    font-size: $font-18;
 }

.tdw-font-16{
    font-size: $font-16;
 }

.tdw-font-14{
    font-size: $font-14;
 }

.tdw-font-12{
    font-size: $font-12;
 }
 .tdw-font-10{
    font-size: $font-10;
 }
 .tdw-font-8{
    font-size: $font-8;
 }
 .tdw-font-6{
    font-size: $font-6;
 }


 .tdw-font-tab{
font-size: $font-12;
 }


@media (max-width: $resM) {
 .tdw-font-tab{
     font-size: $font-10;
 }
}

@media (max-width: $resS) {
 .tdw-font-tab{
     font-size: $font-8;
 }
}