<div>
    <div fxLayout="row">
        <div fxFlex="50%">
            <widget-alarm></widget-alarm>
        </div>
        <div fxFlex="50%">
            <widget-alarm-list></widget-alarm-list>
        </div>
    </div>
    <div fxLayout>
        <div>
            <widget-weather-chip city="bangalore"></widget-weather-chip>
            <widget-weather-chip city="mumbai"></widget-weather-chip>
            <widget-weather-chip city="delhi"></widget-weather-chip>
        </div>
        <widget-weather></widget-weather>
    </div>

    
    <widget-dummy></widget-dummy>



</div>