/* You can add global styles to this file, and also import other style files */

@import "@angular-mdc/theme/material-components-web/theme/_color-palette";
$mdc-theme-primary: #9c27b0;
$mdc-theme-secondary: #76ff03;
$mdc-theme-background: $material-color-grey-100;
@import "@angular-mdc/theme/material.scss";

@import "app/theme/index";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: $mdc-theme-background;
}

span,h1,h2,h3,h4,h6,p,a{
  font-family: $font-open-sans;
  font-weight: 400;
}

// .demo-toolbar--primary {
//   @include mdc-theme-prop(background-color, $mdc-theme-secondary);
// }
/*
"stylePreprocessorOptions": {
    "includePaths": [
      ".",
      "../node_modules"
    ]
  }
  */