<div class="container tdw-card-shadow">
    <div class="account">
            <i class="material-icons tdw-margin-left-12">keyboard_arrow_left</i>
            <p class="tdw-font-12 tdw-font-bold ">Your Account</p>
            <i class="material-icons tdw-margin-right-12">dashboard</i>
    </div>
    <div class="graph"></div>
    <div class="report">
        <div class="report-item">
                <img class="img-circle tdw-margin-12" src="assets/img/hdfc.png"   width="30" height="30">
            
            <div class="detail">
                    <p class="tdw-font-12 tdw-font-bold ">HDFC Bank</p>
                        <p  class="tdw-font-10 mdc-color-text--grey tdw-font-bold">Transfer to bank <span class="mdc-color-text--green-500 tdw-font-bold">-Completed</span></p>
            </div>
            <div class="cash tdw-margin-right-12 tdw-font-bolder">
                    <p  class="tdw-font-10 mdc-color-text--red-500 ">-Rs. 2400</p>
            </div>
                       
          </div>
     
        <div class="report-item">
                <img class="img-circle tdw-margin-12" src="assets/img/Alfa_romeo_logo.png"  width="30" height="30">
                <div class="detail ">
                        <p  class="tdw-font-12 tdw-font-bold">ALPHA ROMEO</p>
                </div>
                <div class="cash tdw-margin-right-12 tdw-font-bolder">
                        <p  class="tdw-font-10 mdc-color-text--red-500">-Rs. 999</p>
                </div>
        </div>
        <div class="report-timeline">
                <span  class="tdw-margin-left-12 tdw-font-12 mdc-color-text--grey tdw-font-bold">Jan 3, 2018</span>
        </div>
        <div class="report-item">
                <img class="img-circle tdw-margin-12" src="assets/img/avatar.jpg"  width="30" height="30">
                <div class="detail">
                        <p  class="tdw-font-12 tdw-font-bold">Niraj Prakash</p>
                        <p  class="tdw-font-10 mdc-color-text--grey tdw-font-bold">Money Received</p>
                </div>
                <div class="cash tdw-margin-right-12 tdw-font-bolder">
                        <p  class="tdw-font-10 mdc-color-text--blue-500 ">+Rs. 4400</p>
                </div>
        </div>
        <div class="report-item">
                <img class="img-circle tdw-margin-12" src="assets/img/Food.ico"   width="30" height="30">
                <div class="detail">
                        <p  class="tdw-font-12 tdw-font-bold">Lunch</p>
                        <p  class="tdw-font-10 mdc-color-text--grey tdw-font-bold">Payment debited</p>
                </div>
                <div class="cash tdw-margin-right-12 tdw-font-bolder">
                        <p  class="tdw-font-10 mdc-color-text--red-500 ">-Rs. 400</p>
                </div>
        </div>
    </div>
</div>